
.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh; 
  padding: 20px;
  background-color: #f8f8f8;
}

.contactDetails {
  background-color: #ffffff;
  padding: 80px; 
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 10px auto;
}

.contactTitle {
  font-size: 3rem;
  color: #000;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.contactText {
  font-size: 1rem;
  color: #333;
  margin-bottom: 40px;
  line-height: 1.6;
  text-align: center;
}
