
.eventsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
    background-color: #f8f8f8;
  }
  
  .eventsTitle {
    font-size: 3rem;
    color: #000;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: center;
  }
  
 
  .eventsList {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    width: 100%;
  }
  
  .eventItem {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .eventTitle {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .eventDate,
  .eventLocation {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
  }
  